* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#202020), to(#363636));
  background: linear-gradient(to right, #202020, #363636);
}

header {
  margin: auto;
  height: 100vh;
  min-height: 90rem;
}

.nav-bar {
  min-height: 9rem;
  height: 10vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar h3 {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: white;
}

.nav-bar a {
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: white;
}

.hero {
  height: 90vh;
  min-height: 85rem;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hello {
  font-family: "pacifico", sans-serif;
  font-size: 7.5rem;
  font-weight: 100;
  color: white;
  padding-bottom: 3rem;
}

.intro {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 4.2rem;
  color: white;
  width: 70%;
  padding-bottom: 7rem;
}

.explore-btn {
  width: 20rem;
  height: 5rem;
  background: none;
  border: 1px solid white;
  border-radius: 4rem;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

.explore-btn:hover {
  background: white;
  border: none;
  color: black;
}

.resume {
  margin-top: 10rem;
  height: 90vh;
  min-height: 85rem;
  margin: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume h1 {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 7.2rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.resume a {
  text-decoration: none;
  color: white;
}

.desc {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 3.3rem;
  color: white;
  width: 85%;
  padding-top: 4rem;
}

.fa-angle-down {
  color: #d4d4d4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 15rem;
  -webkit-animation: arrow 0.8s ease infinite alternate;
          animation: arrow 0.8s ease infinite alternate;
}

@-webkit-keyframes arrow {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

@keyframes arrow {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

.arsenal-wrapper {
  margin: auto;
  width: 90%;
}

.arsenal {
  background: #363636;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: 50vh;
  min-height: 45rem;
}

.arsenal-wrapper h1 {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 7.2rem;
  padding-bottom: 10rem;
  padding-top: 3rem;
  color: white;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.icon {
  max-height: 8rem;
  opacity: 0.8;
}

.icon:hover {
  opacity: 1;
}

.skill:hover .icon-name {
  opacity: 1;
}

.skill:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.icon-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  font-family: "poppins", sans-serif;
  font-size: 1.8rem;
  color: #dbdbdb;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.opacity {
  opacity: 1;
}

.message {
  height: 80vh;
  min-height: 85rem;
  width: 90%;
  margin: auto;
}

.message h1 {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 7.2rem;
  padding-top: 5rem;
  padding-bottom: 8rem;
  color: white;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

::-webkit-input-placeholder {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  color: #313131;
  opacity: 0.8;
}

:-ms-input-placeholder {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  color: #313131;
  opacity: 0.8;
}

::-ms-input-placeholder {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  color: #313131;
  opacity: 0.8;
}

::placeholder {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  color: #313131;
  opacity: 0.8;
}

input {
  height: 7rem;
  margin-bottom: 2rem;
  padding-left: 3rem;
  font-size: 2.5rem;
  border: none;
  background: #c4c4c4;
  border-radius: 0.2rem;
  color: #313131;
  outline: none;
}

textarea {
  padding: 2rem 3rem 2rem 3rem;
  font-size: 2.5rem;
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  height: 30rem;
  max-height: 30rem;
  resize: none;
  border: none;
  border-radius: 0.2rem;
  background: #c4c4c4;
  color: #313131;
  outline: none;
}

.message-btn {
  margin-top: 2rem;
  background: #474647;
  height: 3rem;
  width: 25rem;
  border: none;
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 2rem;
}

.contact {
  height: 55vh;
  min-height: 50rem;
  width: 90%;
  margin: auto;
  margin-top: 10rem;
}

.contact-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}

.contact-div h2 {
  font-family: "poppins", sans-serif;
  font-size: 7rem;
  font-weight: 400;
  color: white;
}

.contact-info {
  padding-top: 7rem;
}

@media screen and (max-width: 1170px) {
  .desc {
    font-size: 3.3rem;
  }
  .icon {
    max-height: 7rem;
  }
  .icon-name {
    font-size: 1.4rem;
  }
  .resume h1,
  .arsenal h1,
  .message h1 {
    font-size: 6.5rem;
  }
  form {
    width: 70%;
  }
  .contact-div h2 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 960px) {
  .nav-bar h3,
  .nav-bar a {
    font-size: 1.8rem;
  }
  .desc {
    font-size: 2.7rem;
  }
  .skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .skill {
    padding-bottom: 5rem;
  }
  .arsenal,
  .arsenal-wrapper {
    height: 60vh;
    min-height: 55rem;
  }
  .arsenal-wrapper h1 {
    padding-bottom: 7rem;
  }
  .resume h1,
  .arsenal h1,
  .message h1 {
    font-size: 5.8rem;
  }
  form {
    width: 70%;
  }
  .contact {
    height: 45vh;
    min-height: 40rem;
  }
  .contact-div h2 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 830px) {
  form {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .contact-div h2 {
    font-size: 3.5rem;
  }
  .resume h1,
  .arsenal h1,
  .message h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .desc {
    font-size: 2.3rem;
  }
  .skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .skill {
    padding-bottom: 6rem;
  }
  .arsenal,
  .arsenal-wrapper {
    height: 82vh;
    min-height: 75rem;
  }
  .arsenal-wrapper h1 {
    padding-bottom: 8rem;
  }
  .icon-name {
    opacity: 1;
  }
  .resume h1,
  .arsenal h1,
  .message h1 {
    font-size: 5.3rem;
  }
  .contact {
    height: 10vh;
    min-height: 5rem;
  }
  .message h1 {
    margin-top: 1.7rem;
  }
  .contact-div h2 {
    font-size: 3rem;
  }
  .contact-info {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 460px) {
  .contact-div h2 {
    font-size: 2.5rem;
  }
  .contact-info {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 1250px) {
  .intro {
    font-size: 4rem;
    width: 80%;
  }
}

@media screen and (max-width: 967px) {
  .intro {
    font-size: 3rem;
    width: 90%;
  }
  .explore-btn {
    width: 18rem;
    height: 4rem;
    border-radius: 4rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: white;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    font-size: 2.5rem;
    width: 100%;
  }
  .hero {
    height: 90vh;
    min-height: 65rem;
  }
  .desc {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */