* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(243, 243, 243);
}

.section {
  min-height: 30rem;
  width: 80%;
  margin: auto;
}

/* About section */

.about-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin: auto;
  width: 70%;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 49rem;
  border-radius: 1rem;
}

.tab-btn {
  background: rgb(228, 228, 228);
  padding: 1.8rem 5rem;
  font-size: 1.5rem;
  font-family: "poppins", sans-serif;
  border: none;
  cursor: pointer;
}

.tab-btn:hover {
  background: rgb(241, 241, 241);
  transition: all 0.5s ease;
}

.about-content {
  background: white;
  min-height: 30rem;
  min-width: 49rem;
  padding: 1.7rem;
  border-radius: 0rem 0rem 1rem 1rem;
}

.about-content h4 {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "poppins", sans-serif;
}

.about-content p {
  padding-top: 1.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "poppins", sans-serif;
}

.photo {
  max-height: 35rem;
  max-width: 49rem;
}

.photo {
  border-radius: 1rem;
}

/*  title section */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 20rem;
}

.title h1 {
  font-size: 4.5rem;
  font-family: "poppins", sans-serif;
  font-weight: 300;
}

.title p {
  font-size: 1.2rem;
  font-family: "poppins", sans-serif;
}

/* hide content  */

.content {
  display: none;
}

.content.active {
  display: block;
}

.tab-btn.active {
  color: black;
  background: white;
}

/* Outside button border radius */

#history-btn {
  border-radius: 1rem 0rem 0rem 0rem;
}

#goals-btn {
  border-radius: 0rem 1rem 0rem 0rem;
}
